/* responsive for Mobile device start */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        padding-top: 20px;
    }

    .header-container {
        margin-bottom: 70px;
    }

    .header-area {
        width: 95%;
        height: auto;
        flex-direction: column;
    }

    .header-left-area {
        margin: 28px 24px 0 24px;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto;
    }

    .header-left-area h1 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

    .header-left-area-desc {
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

    .btn {
        padding: 20px 40px;
        font-size: 30px;
        font-weight: 500;
    }

    .header-right-area {
        margin-top: 20px;
    }

    .header-right-area img {
        width: 243px;
        height: 255px;
        margin: 0 24px 0 24px;
    }

    .main-container {
        width: 95%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 70px auto;

    }

    .main-sidebar {
        width: 364px;
        background: none;
    }

    .main-sidebar a {
        border: 1px solid #E8E8E8;
    }

    .main-section {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }

    .match {
        width: 100%;
        height: auto;
    }

    .match img {
        width: 100%;
        height: auto;
    }

    .footer-container {
        width: 100%;
        height: auto;
    }

    .footer-top h2 {
        padding: 50px 0 50px 0;
        margin: 0;
    }

    .footer-bottom li {
        margin-bottom: 38px;
    }

    .footer-top hr {
        width: 100%;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*Responsive for Mobile device end */